
@section pre{

}
<header>
    <!--Nav-->
    <nav aria-label="menu nav" class="bg-gray-800 pt-6 md:pt-4 pb-6 px-1 space-y-2 mt-0 h-50 fixed w-full z-20 top-0">

        <div class="flex flex-wrap items-center">
            <div class="flex flex-shrink md:w-1/3 justify-center md:justify-start text-white">
                <a href="#" aria-label="Home">
                    <span class="text-xl pl-2"><i class="em em-grinning"></i></span>
                </a>
            </div>

            <div class="flex flex-1 md:w-1/3 justify-center md:justify-start text-white px-2">
                <span class="relative w-full">
                    <!-- دکمه منو برای گوشی موبایل -->
                    <button id="mobileMenuButton" class="md:hidden hover:text-blue-300 hover:bg-gray-800 py-2 px-4 rounded transition duration-300 ease-in-out">
                        Menu
                    </button>

                    <!-- منو برای گوشی موبایل -->
                    <div id="mobileMenu" class="md:hidden absolute top-full left-0 bg-gray-800 text-white p-2 mt-1 rounded invisible">
                        <a href="#" class="block hover:text-blue-300 py-2 px-4 transition duration-300 ease-in-out">وبلاگ</a>
                        <a href="#" class="block hover:text-blue-300 py-2 px-4 transition duration-300 ease-in-out">محصولات</a>
                        <a href="#" class="block hover:text-blue-300 py-2 px-4 transition duration-300 ease-in-out"> درباره ما</a>
                    </div>

                    <!-- منو برای دسکتاپ -->
                    <div class="hidden md:block">
                        <a href="#" class="hover:text-blue-300 hover:bg-gray-800 py-2 px-4 rounded transition duration-300 ease-in-out mr-4">وبلاگ</a>
                        <a href="#" class="hover:text-blue-300 hover:bg-gray-800 py-2 px-4 rounded transition duration-300 ease-in-out mr-4">محصولات</a>
                        <a href="#" class="hover:text-blue-300 hover:bg-gray-800 py-2 px-4 rounded transition duration-300 ease-in-out">درباره ما</a>
                    </div>
                </span>
            </div>

            <div class="flex items-center justify-between md:flex-1 md:w-auto">
                <ul class="list-reset flex justify-between items-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="mr-3">
                            <div class="relative inline-block">
                                <button onclick="toggleDD('myDropdown')" class="drop-button text-white py-2 px-2 transition duration-300 ease-in-out transform hover:bg-gray-800 hover:text-blue-300">
                                    <span class="pr-2"><i class="em em-robot_face"></i></span>@User.Identity.Name  سلام<svg class="h-3 fill-current inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                    </svg>
                                </button>
                                <div id="myDropdown" class="dropdownlist absolute bg-gray-800 text-white right-0 mt-3 p-3 overflow-auto z-30 invisible transition duration-300 ease-in-out">
                                    <a asp-controller="Account" asp-action="Profile" class="p-2 hover:bg-gray-700 text-white text-sm no-underline hover:no-underline block transition duration-300 ease-in-out">
                                        <i class="fa fa-user fa-fw"></i> ناحیه کاربری
                                    </a>
                                    <a asp-controller="Basket" asp-action="Index" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" class="p-2 hover:bg-gray-700 text-white text-sm no-underline hover:no-underline block transition duration-300 ease-in-out">
                                        <i class="fa fa-cog fa-fw"></i> سبد خرید
                                    </a>
                                    <div class="border border-gray-800"></div>
                                    <a asp-controller="Account" asp-action="logout" class="p-2 hover:bg-gray-700 text-white text-sm no-underline hover:no-underline block transition duration-300 ease-in-out">
                                        <i class="fas fa-sign-out-alt fa-fw"></i> خروج
                                    </a>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="mr-3">
                            <a asp-controller="Account" asp-action="login" class="text-white bg-blue-500 hover:text-blue-300 hover:bg-yellow-500 py-2 px-4 rounded transition duration-300 ease-in-out focus:outline-none focus:shadow-outline">
                                ورود
                            </a>
                        </li>
                    }
                </ul>
            </div>

        </div>

    </nav>
</header>
@section Scripts{
    <script>
        /*Toggle dropdown list*/
        function toggleDD(myDropMenu) {
            document.getElementById(myDropMenu).classList.toggle("invisible");
        }
        /*Filter dropdown options*/
        function filterDD(myDropMenu, myDropMenuSearch) {
            var input, filter, ul, li, a, i;
            input = document.getElementById(myDropMenuSearch);
            filter = input.value.toUpperCase();
            div = document.getElementById(myDropMenu);
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
                var dropdowns = document.getElementsByClassName("dropdownlist");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (!openDropdown.classList.contains('invisible')) {
                        openDropdown.classList.add('invisible');
                    }
                }
            }
        }
    </script>
}