@model List<Application.Entities.Dtos.ProductDto>
@{
    ViewData["Title"] = "Home Page";

}
@section pre
{

}
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 mx-4">
    @if (Model.Count() > 0 || Model != null)
    {
        foreach (var product in Model)
        {
            
            @await Html.PartialAsync("_ProductsList", product)

        }

    }
    else
    {
        @await Component.InvokeAsync("Products")
    }

</div>

@section Scripts {

}


