@model EndPoint.Web.Models.ViewModels.LoginVM
@{
    ViewData["Title"] = "login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}



    <div class="container ">
    <h1>Register</h1>

    <div class="row justify-content-center text-muted">
        <div class="col-md-6">
            <form asp-controller="Account" asp-action="login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
              
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
             
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary " type="submit">ورود</button>
              
                </div>
            </form>
            <div class="col-md-6 text-center mt-4 my-4">
                <a asp-controller="Home" asp-action="Index" class="mx-2">بازگشت به صفحه اصلی</a>
                <a asp-controller="Account" asp-action="signup" class="mx-2">ثبت نام</a>
            </div>

        </div>
      


    </div>
</div>

   
</div>